* {
  font-family: "Nunito", sans-serif;
}

/* styling header */
.navbar-toggler {
  height: 50px;
  width: 50px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background-color: #f2f6ff;
  border: none;
  transition: transform 0.3s ease;
}
.btn-close {
  color: red;
}
.navbar-toggler i {
  color: #234cad;
}
.navbar-toggler:hover {
  transform: scale(1.1);
}

header {
  display: inline-block;
  width: 100%;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}
.navbar-nav .nav-link {
  color: #234cad;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 25px;
}
.navbar-nav.flex-row {
  align-items: center;
}

.navbar-nav .nav-item:hover .nav-link:hover {
  border-radius: 25px;
  color: #fff;
  background-color: #234cad;
  border-color: #234cad;
  transform: translateY(3px);
  transition: transform 0.2s ease-in-out;
}

.btn-primary {
  border-color: transparent;
  background-color: #f2f6ff;
  color: #234cad;
  border-radius: 25px;
  height: 50px;
  width: 135px;
  left: 0px;
  top: 0px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .mb-2 .nav-item {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}

/* styling Banner */
#home .container {
  border-radius: 60px;
  background-color: #f2f6ff;
}
#home .card {
  margin-top: 108px;
}
#home .card .card-title {
  color: #234cad;
  height: 168px;
  width: 400px;
  left: 100px;
  top: 108px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
#home .card .px-5 {
  color: #234cad;
  width: 400px;
}
#home button {
  border-color: #234cad;
  height: 65px;
  width: 200px;
  left: 0px;
  top: 0px;
  border-radius: 32.5px;
  font-size: 22px;
  font-weight: 700;
}
#home .icon {
  color: #234cad;
  border-radius: 50%;
  border: none;
  height: auto;
  width: auto;
  left: 0px;
  top: 0px;
}
#home .box {
  cursor: pointer;
  background-color: #ffffff;
  color: #234cad;
  display: flex;
  align-items: center;
  border-radius: 20px;
  white-space: nowrap;
  margin-left: 10px;
  transition: transform 0.3s ease;
}
#home .box:hover {
  transform: scale(1.1);
}
#home .box h3 {
  font-weight: bold;
}

#cloudLock .col-md-6 .icon2 {
  color: #234cad;
  border: none;
  background-color: #f2f6ff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#cloudLock .col-md-6 .icon2 i {
  font-size: 30px;
}

#cloudLock .col-md-6 .col-md-9 h3 {
  color: #234cad;
  font-weight: 600;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 600;
}
#cloudLock .col-md-6 .col-md-9 p {
  color: #234cad;
  font-weight: 400;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
}
#cloudLock button {
  cursor: default;
}
#cloudLock .col-md-6 {
  cursor: default;
}

/* styling Footer */

footer h5 {
  border-radius: nullpx;
  color: #234cad;
  font-weight: 700;
}
footer p {
  color: #234cad;
  border-radius: nullpx;
}
footer ul li {
  color: #234cad;
  border-radius: nullpx;
}
.list-unstyled li a {
  text-decoration: none;
}
.list-unstyled li a:hover {
  text-decoration: underline;
}

/* Styling Price */
.pricing {
  text-align: center;
  margin-top: 200px;
  color: #234cad;
}

.pricing h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.pricing h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 0rem;
  background-color: #f2f6ff;
  box-sizing: border-box;
}

.cards .card-active {
  display: flex;
  border: 3px solid #234cad;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
  border-radius: 50px;
}

.ul-text {
  margin: 2.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ul-text li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1px;
}

.card-shadow {
  background-color: #f2f6ff;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.pack {
  border-radius: nullpx;
  color: #234cad;
  font-weight: 700;
}

#basic {
  color: #234cad;
  font-size: 56px;
}

.capacity {
  border-radius: nullpx;
  color: #234cad;
}

.btn-price {
  border-radius: 20px;
  color: #234cad;
  font-weight: 700;
  line-height: 30px;
  border: 3px solid #234cad;
  width: 200px;
}

/* Styling button back to top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  background: #234cad;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.back-to-top i {
  transition: transform 0.3s ease-in-out;
}

.back-to-top:hover i {
  transform: translateY(-2px);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}
