* {
  font-family: "Nunito", sans-serif;
}

/* styling header */
.navbar-toggler {
  height: 50px;
  width: 50px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background-color: #f2f6ff;
  border: none;
  transition: transform 0.3s ease;
}
.btn-close {
  color: red;
}
.navbar-toggler i {
  color: #234cad;
}
.navbar-toggler:hover {
  transform: scale(1.1);
}

header {
  display: inline-block;
  width: 100%;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}
.navbar-nav .nav-link {
  color: #234cad;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 25px;
}
.navbar-nav.flex-row {
  align-items: center;
}

.navbar-nav .nav-item:hover .nav-link:hover {
  border-radius: 25px;
  color: #fff;
  background-color: #234cad;
  border-color: #234cad;
  transform: translateY(3px);
  transition: transform 0.2s ease-in-out;
}

.btn-primary {
  border-color: transparent;
  background-color: #f2f6ff;
  color: #234cad;
  border-radius: 25px;
  height: 50px;
  width: 135px;
  left: 0px;
  top: 0px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .mb-2 .nav-item {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}

/* styling Banner */
#home .container {
  border-radius: 60px;
  background-color: #f2f6ff;
}
#home .card {
  margin-top: 108px;
}
#home .card .card-title {
  color: #234cad;
  height: 168px;
  width: 400px;
  left: 100px;
  top: 108px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
#home .card .px-5 {
  color: #234cad;
  width: 400px;
}
#home button {
  border-color: #234cad;
  height: 65px;
  width: 200px;
  left: 0px;
  top: 0px;
  border-radius: 32.5px;
  font-size: 22px;
  font-weight: 700;
}
#home .icon {
  color: #234cad;
  border-radius: 50%;
  border: none;
  height: auto;
  width: auto;
  left: 0px;
  top: 0px;
}
#home .box {
  cursor: pointer;
  background-color: #ffffff;
  color: #234cad;
  display: flex;
  align-items: center;
  border-radius: 20px;
  white-space: nowrap;
  margin-left: 10px;
  transition: transform 0.3s ease;
}
#home .box:hover {
  transform: scale(1.1);
}
#home .box h3 {
  font-weight: bold;
}

#cloudLock .col-md-6 .icon2 {
  color: #234cad;
  border: none;
  background-color: #f2f6ff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#cloudLock .col-md-6 .icon2 i {
  font-size: 30px;
}

#cloudLock .col-md-6 .col-md-9 h3 {
  color: #234cad;
  font-weight: 600;
  font-family: Nunito;
  font-size: 30px;
  font-weight: 600;
}
#cloudLock .col-md-6 .col-md-9 p {
  color: #234cad;
  font-weight: 400;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
}
#cloudLock button {
  cursor: default;
}
#cloudLock .col-md-6 {
  cursor: default;
}

/* styling Footer */

footer h5 {
  border-radius: nullpx;
  margin-left: 100px;
  color: #234cad;
  font-weight: 700;
}
footer p {
  color: #234cad;
  margin-left: 100px;
  border-radius: nullpx;
}
footer ul li {
  color: #234cad;
  margin-left: 100px;
  border-radius: nullpx;
}
.list-unstyled li a {
  text-decoration: none;
}
.list-unstyled li a:hover {
  text-decoration: underline;
}

/* Styling Price */
.pricing {
  text-align: center;
  margin-top: 200px;
  color: #234cad;
}

.pricing h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.pricing h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 0rem;
  background-color: #f2f6ff;
  box-sizing: border-box;
}

.cards .card-active {
  display: flex;
  border: 3px solid #234cad;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
  border-radius: 50px;
}

.ul-text {
  margin: 2.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ul-text li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1px;
}

.card-shadow {
  background-color: #f2f6ff;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.pack {
  border-radius: nullpx;
  color: #234cad;
  font-weight: 700;
}

#basic {
  color: #234cad;
  font-size: 56px;
}

.capacity {
  border-radius: nullpx;
  color: #234cad;
}

.btn-price {
  border-radius: 20px;
  color: #234cad;
  font-weight: 700;
  line-height: 30px;
  border: 3px solid #234cad;
  width: 200px;
}

/* Styling button back to top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  background: #234cad;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.back-to-top i {
  transition: transform 0.3s ease-in-out;
}

.back-to-top:hover i {
  transform: translateY(-2px);
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

/* style newslatter */

#newsletter .container {
  border-radius: 60px;
  background-color: #f2f6ff;
}
#newsletter .card {
  margin-top: 108px;
}
#newsletter .card .card-title {
  color: #234cad;
  height: 168px;
  width: 400px;
  left: 100px;
  top: 108px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
#newsletter .card .px-5 {
  color: #234cad;
  width: 400px;
}

.text-decoration{
  text-align: center;
  color: #234cad;
  height: 60px;
  left: 100px;
  font-weight: 700;
}

.deskripsi{
  text-align: center;
  color: #234cad;
  height: 100px;
  left: 100px;
  font-weight: 400;
}

.search-bar .input{
  border: 0;
  outline: none;
}

.search-wrap{
  width: 500px;
  margin: 30px auto;
}

.search-wrap .search-box{
  position: relative;
  width: 500px;
  height: 60px;
}

.search-wrap .search-box .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
}

.search-wrap .search-box .btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 95%;
  background: #7690da;
  z-index: 1;
  cursor: pointer;
}

.search-wrap .search-box .btn:hover{
  background: #708bd2;
}

.search-wrap .search-box .btn.btn-common .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* -------------------------------------------------------------------- */
/* product 1 */
/* productS CSS */
.product {
  margin-bottom: 5rem;
}
/* END OF productS CSS */
/* product 1 CSS */
.product-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.div-product-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  max-width: 100%;
  width: 45%;
  padding: 5rem 1rem 5rem 1rem;
  background-color: #f2f6ff;
}
.all-card .card-aj {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-card .card-dl {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-card .card-mc {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Chat CSS */
/* Chat AJ product */
.position-chat-1 {
  padding: 0px 80px 0px 80px;
}
.card-aj {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #234cad;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 1.5rem;
  padding: 25px 0px 25px 0px;
}
.icon-aj {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #f2f6ff;
}
.span-title {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 8px;
  color: #ffffff;
  background-color: #234cad;
  border-radius: 100px;
  padding: 2px 5px 2px 5px;
}
.div-side-card-aj {
  font-size: 15px;
  margin-left: 18px;
}
.p-side-chat-1 {
  font-size: 13px;
}
.chat-1 {
  margin-top: -20px;
}
.p-chat-1 {
  font-size: 10px;
}
/* Chat DL product */
.position-chat-2 {
  padding: 0px 110px 0px 110px;
  opacity: 75%;
}
.card-dl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #234cad;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 1.5rem;
  padding: 20px 0px 20px 0px;
}
.icon-dl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #f2f6ff;
}
.span-title {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 8px;
  color: #ffffff;
  background-color: #234cad;
  border-radius: 100px;
  padding: 2px 5px 2px 5px;
}
.div-side-card-dl {
  font-size: 15px;
  margin-left: 10px;
}
.chat-2 {
  margin-top: -20px;
}
.p-chat-2 {
  font-size: 8px;
}
/* Chat MC product */
.position-chat-3 {
  opacity: 50%;
  padding: 0px 140px 0px 140px;
}
.card-mc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #234cad;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 300px;
  padding: 10px 20px 10px 20px;
}
.icon-mc {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #f2f6ff;
}
.span-title {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 8px;
  color: #ffffff;
  background-color: #234cad;
  border-radius: 100px;
  padding: 2px 5px 2px 5px;
}
.div-side-card-mc {
  font-size: 11px;
  margin-left: 10px;
}
.p-side-chat-3 {
  font-size: 8px;
}
.chat-3 {
  margin-top: -20px;
}
.p-chat-3 {
  font-size: 6px;
}
/* END OF Chat CSS */

/* side product 1 */
.side-product-1 {
  color: #234cad;
  font-size: 29px;
  margin-left: 5.5rem;
}
.h1-side-product-1 {
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.p-side-product-1 {
  font-size: 14px;
  margin-bottom: 3rem;
}
.button-product-1 {
  padding: 1rem 2.5rem;
  background-color: transparent;
  border: 2px solid #234cad;
  font-size: 18px;
  font-weight: 600;
  color: #234cad;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.button-product-1:hover {
  color: #f2f6ff;
  background-color: #234cad;
}
/* END OF SIDE product 1 CSS */
/* END OF product 1 CSS */
/* -------------------------------------------------------------------- */

/* INFO product CSS */
.info-products {
  text-align: center;
  margin-bottom: 5rem;
  color: #234cad;
}
.info-products .h1-info-products {
  font-size: 41px;
  margin-bottom: 15px;
}
/* END OF INFO product CSS */
/* -------------------------------------------------------------------- */

/* ABOUT */
#about .card {
  margin-top: 50px;
}
#about.card .card-title {
  color: #234cad;
  height: 168px;
  width: 400px;
  left: 100px;
  top: 108px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}
#about .card .px-5 {
  color: #234cad;
  width: 400px;
}
#about button {
  border-color: #234cad;
  height: 65px;
  width: 200px;
  left: 0px;
  top: 0px;
  border-radius: 32.5px;
  font-size: 22px;
  font-weight: 700;
}
#about.icon {
  color: #234cad;
  border-radius: 50%;
  border: none;
  height: auto;
  width: auto;
  left: 0px;
  top: 0px;
}
#about .box {
  cursor: pointer;
  background-color: #ffffff;
  color: #234cad;
  display: flex;
  align-items: center;
  border-radius: 20px;
  white-space: nowrap;
  margin-left: 10px;
  transition: transform 0.3s ease;
}
#about .box:hover {
  transform: scale(1.1);
}
#about.box h3 {
  font-weight: bold;
}
/* SIDE ABOUT */
.about-left{
  position: relative;
  width: 575px;
  height: 575px;
  background: #F2F6FF;
  border-radius: 60px;
}
.card-1{
  position: absolute;
  left: 100px;
  top: 100px;
  width: 276px;
  height: 160px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25px;
}
.card-2{
  position: absolute;
  width: 276px;
  height: 160px;
  left: 100px;
  top: 285px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25px;
}
.card-3{
  position: absolute;
  width: 276px;
  height: 160px;
  left: 100px;
  top: 470px;
  bottom: -9.57%;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25px;
}
.card-4{
  position: absolute;
  left: 401px;
  top: 100px;
  width: 276px;
  height: 160px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25px;
}
.card-5{
  position: absolute;
  left: 401px;
  top: 285px;
  width: 276px;
  height: 160px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25px;
}
.card-6{
  position: absolute;
  left: 401px;
  top: 470px;
  right: -9.81%;
  bottom: -9.57%;
  width: 276px;
  height: 160px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 25px;
}
.upper{
  display: flex;
}
.upper .chat-text{
  line-height: 10px;
  margin: 30px;
}
.chat-text p{
  font-size: 12px;
  color: #234CAD;
}
.calendar{
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 2.25px solid #234CAD;
  margin-top: 20px;
  margin-left: 20px;
}
.calendar img{
  margin: 17px;
}
.bottom{
    display: flex;
    margin-left: 28px;
    margin-top: -5px;
}
.bottom > div{
    width: 40px;
    height: 40px;
    background-color: #F2F6FF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-left: -8px;
    font-weight: 700;
    font-size: 10px;
    color: #234CAD;
}
/* END OF ABOUT */
/* -------------------------------------------------------------------- */